name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: Run test suite
      env: 
        OBLIO_API_CIF: ${{ secrets.OBLIO_API_CIF }}
        OBLIO_SERIES_NAME: ${{ secrets.OBLIO_SERIES_NAME }}
        OBLIO_API_EMAIL: ${{ secrets.OBLIO_API_EMAIL }}
        OBLIO_API_SECRET: ${{ secrets.OBLIO_API_SECRET }}
      run: ./vendor/bin/phpunit tests --colors=always --display-warnings
